<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="filuet" value="https://filuet.pkgs.visualstudio.com/_packaging/Development/nuget/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <filuet>
      <add key="Username" value="PankajAccessNuget" />
      <add key="ClearTextPassword" value="znsawoj64vr3qsltb5htqs7v2lxa4lsn5wipvvutkundrho3qn7a" />
    </filuet>
  </packageSourceCredentials>
</configuration>