@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <section class="products block">
        <div class="cont">
            <div class="block_head padding_right">
                <div class="title">@T("Products.RelatedProducts")</div>
            </div>

            <div class="swiper-container carousel" id="products_slider1">
            
                <div class="swiper-wrapper">
            
                    @foreach (var item in Model)
                    {
                        <div class="slide swiper-slide">
                            @await Html.PartialAsync("_ProductBox", item)
                        </div>
                    }
            
                </div>

                <div class="swiper-button-prev">
                    <svg class="icon"><use xlink:href="@Url.Content("~/Themes/FiluetHerbalife/Content/images/sprite.svg#ic_arrow_left")"></use></svg>
                </div>

                <div class="swiper-button-next">
                    <svg class="icon"><use xlink:href="@Url.Content("~/Themes/FiluetHerbalife/Content/images/sprite.svg#ic_arrow_right")"></use></svg>
                </div>
            </div>
        </div>
    </section>
}