<script asp-location="Footer">
    $(document).ready(function () {
        $('#eu-cookie-bar-notification').show();

        $('#eu-cookie-ok').click(function () {
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.RouteUrl("EuCookieLawAccept")',
                dataType: 'json',
                success: function(data) {
                    $('#eu-cookie-bar-notification').hide();
                },
                failure: function() {
                    alert('Cannot store value');
                }
            });
        });
    });
</script>

<div id="eu-cookie-bar-notification" class="eu-cookie-bar-notification">
    <span id="eu-cookie-ok" class="eu-cookie-ok">
        <i class="close"></i>
    </span>
    <div class="content">
        <div class="text">
            @T("EUCookieLaw.Description2")
            <a class="learn-more" href="@Url.RouteUrl("Topic", new { SeName = await CustomExtensions.GetTopicSeNameAsync("privacyinfo") })">@T("EUCookieLaw.LearnMore")</a>
        </div>
    </div>
</div>