
<div id="root"></div>

<script asp-location="Footer" type="text/babel">

    const { useEffect, useState } = React;
    const { Dialog } = primereact.dialog;
    const { Button } = primereact.button;

    const DialogDemo = () => {

        const [displayBasic, setDisplayBasic] = useState(false);
        const [displayModal, setDisplayModal] = useState(false);
        const [displayMaximizable, setDisplayMaximizable] = useState(false);
        const [displayPosition, setDisplayPosition] = useState(false);
        const [displayResponsive, setDisplayResponsive] = useState(false);
        const [position, setPosition] = useState('center');

        const dialogFuncMap = {
            'displayBasic': setDisplayBasic,
            'displayModal': setDisplayModal,
            'displayMaximizable': setDisplayMaximizable,
            'displayPosition': setDisplayPosition,
            'displayResponsive': setDisplayResponsive
        }

        const onClick = (name, position) => {
            dialogFuncMap[`${name}`](true);

            if (position) {
                setPosition(position);
            }
        }

        const onHide = (name) => {
            dialogFuncMap[`${name}`](false);
        }

        const renderFooter = (name) => {
            return (
                <div class="btns">
                    <Button label="@T("ISDK.Filuet.Theme.FiluetHerbalife.PrimeReact.LearnMore")" onClick={() => onHide(name)} className="btn green big_w" />
                    <Button label="@T("ISDK.Filuet.Theme.FiluetHerbalife.PrimeReact.Close")" onClick={() => onHide(name)} className="btn small_w"/>
                </div>
            );
        }

        return (
            <div>
                <Button label="Show" icon="pi pi-external-link" onClick={() => onClick('displayBasic')} />

                <Dialog header="Header" visible={displayBasic} footer={renderFooter('displayBasic')} onHide={() => onHide('displayBasic')}>

                    <div class="modal_title">@T("ISDK.Filuet.Theme.FiluetHerbalife.PrimeReact.Surprise")</div>

                    <div class="modal_desc">@T("ISDK.Filuet.Theme.FiluetHerbalife.PrimeReact.SpiceShip")</div>

                </Dialog>
            </div>
        )
    }

    const rootElement = document.getElementById("root");
    ReactDOM.render(<DialogDemo />, rootElement);

</script>