<div class="myhl-authentication-error">
    <a style="font-size: 17px; margin: 0 80px;" target="_blank" href="@Url.Action("Index", "CommonExtendedFunctions")">@T("Filuet.OnlineOrdering.CommonExtendedFunctions.AuthenticationErrorButton")</a>
</div>

<style type="text/css">
    .myhl-authentication-error {
        display: block;
        clear: both;
        text-align: end;
    }
</style>