.p-dialog {
    width: 596px;
    max-width: 100%;
    padding: 44px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 29px rgba(0, 0, 0, .25);
}


.modal_title {
    color: #323434;
    font-family: var(--font_family2);
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}


.modal_desc {
    color: #646868;
    line-height: 28px;
    margin-top: 44px;
    text-align: center;
}


.p-dialog-footer .btns {
    display: flex;
    margin-top: 44px;
    margin-bottom: -8px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.p-dialog-footer .btns *.small_w {
    width: calc(33.333% - 16px);
    margin-left: 16px;
    margin-right: 0;
}

.p-dialog-footer .btns *.big_w {
    width: calc(66.666% - 16px);
}


.p-dialog-footer .btns .btn {
    color: #979b9b;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 14px 24px 12px;
    transition: background .2s linear;
    text-align: center;
    text-decoration: none;
    letter-spacing: .04em;
    text-transform: uppercase;
    border-radius: 4px;
    outline: none;
    background: #f2f3f3;
}

.p-dialog-footer .btns .btn.green {
    color: #fff;
    background:  #266431;
}

.p-dialog-footer .btns .btn:hover {
    background: #e5e6e6;
}

.p-dialog-footer .btns .btn.green:hover {
    background: #387C2B;
}

.p-dialog-footer .btns span {
    margin-bottom: 0;
    margin-left: 0;
}

.p-dialog-header {
    display: none;
}

.p-button {
    border: none;
}

.p-dialog .p-dialog-content {
    padding: 0;
}

.p-dialog .p-dialog-footer {
    padding: 0;
}