.anywhere-slider .slick-dots {
    text-align: left !important;
    margin-left: 20px !important;
    z-index: 3 !important;
}

    .anywhere-slider .slick-dots button {
        border-radius: 50%;
    }

.anywhere-slider .slick-active button {
    background:  #266431 !important;
}

.anywhere-slider .slick-arrow {
    top: 90% !important;
    color: #fff !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 4px !important;
    z-index: 3 !important;
    opacity: 1 !important;
}

.anywhere-slider .slick-next {
    right: 15px !important;
    background:  #266431 url(../images/ic_arrow_right.png) no-repeat center !important;
}

.anywhere-slider .slick-prev {
    left: auto !important;
    right: 65px !important;
    background:  #266431 url(../images/ic_arrow_left.png) no-repeat center !important;
}